.key {
  height: 40px;
  min-width: 40px;
  padding: 0 10px;
  margin: 0;
  background: #fff;
  border-radius: 4px;
  border-top: 1px solid #f5f5f5;
  box-shadow: 0 0 25px #e8e8e8 inset, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9,
    0 2px 3px #333333;
  color: #666;
  font: bold 14px arial;
  text-align: center;
  line-height: 41px;
  display: inline-block;
}

.keySpaceBar {
  width: 80px;
}
