.modalWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  .modalContent {
    position: relative;
    z-index: 2;

    .title {
      position: relative;
      margin: 80px 0;
      text-align: center;
      font-size: 30px;
      opacity: 0;
      transform: translateY(20px);
    }

    .detailResultList {
      width: 100%;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transform: translateY(20px);

      .detailResultItem {
        display: flex;
        justify-content: center;

        &:not(:last-child) {
          margin-bottom: 60px;
        }

        .itemTitle {
          width: 250px;
          font-weight: bold;
          font-size: 18px;
        }

        .itemText {
          width: 100px;
          font-size: 18px;
        }
      }
    }
  }
}

.openModal {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    transform: translateX(0%);
    width: 50%;
    height: 100%;
    background: #fff;
    animation: openLeftModal 1s ease 0s forwards;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50%;
    transform: translateX(0%);
    width: 50%;
    height: 100%;
    background: #fff;
    animation: openRightModal 1s ease 0s forwards;
    z-index: 1;
  }

  .modalContent {
    .title {
      opacity: 1;
      transition: 1s 1s;
      transform: translateY(0);
    }
    .detailResultList {
      opacity: 1;
      transition: 1s 1.5s;
      transform: translateY(0);
    }
  }
}

@keyframes openLeftModal {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes openRightModal {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}
